<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />

  <title>edit your blog</title>
</head>
<body>
	<a href="/blog" class="main-title">
		CS 253 Blog
	</a>

  <div class="login-area">
    {% if user %}
      {{user.username}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
		<form  method="post">			
			<label> 
				<div>
					comment: 
				</div>
				<textarea name="content">{{comment.content}}</textarea>
			</label>
			
			<div class="error">
			{{error}}
			</div>
			<input type="submit" value="submit">
			<input type="submit" value="cancel" name="N"><br>
		</form>
	
</body>
</html>